body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #09b0e5;
    box-shadow: inset 0px -10px 100px 0px rgba(0,0,0,.4);
    font-family: 'Lato';
    transition: background-color 0.7s;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
    #loading .container {
        position: relative;
        width: 50%;
        margin: 0 auto;
        padding: 10px;
        border: 2px solid #fff;
        text-align: center;
        color: #09b0e5;
    }
        #loading .container .progress {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0%;
            height: 100%;
            background-color: #fff;
        }
        #loading .container .text {
            position: relative;
            z-index: 1;
            font-weight: 700;
            text-transform: uppercase;
        }